{% extends 'base.html' %}


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>



{% block content %}


<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="h5"><img class="rounded-circle" width="45" src="/static/uploads/{{ user.profile_pic }}" alt=""><a style="margin-left:10px;" href="/u/{{ user.username }}">{{ user.username }} </a>
                    {% if not no_follow %}
                      {% if follow %}
                        <a href="/modify_relation/{{ user.username }}" class="btn btn-primary btn-sm pull-right" role="button" aria-disabled="true">follow</a>

                      {% else %}
                        <a href="/modify_relation/{{ user.username }}" class="btn btn-primary btn-sm pull-right" role="button" aria-disabled="true">unfollow</a>

                      {% endif %}
                    {% endif %}
                    </div>
                    <div style="margin-left:54px;" class="h7 text-muted">{{ user.full_name }}</div>
                    <div style="margin-left:54px;" class="h7">{{ user.description|safe }}</div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <div class="h6 text-muted">Followers</div>
                      {% for follower in followers_results%}
                        <div class="h6"><a href="/u/{{ follower }}">{{ follower }}</a></div>
                      {% endfor%}
                    </li>
                    <li class="list-group-item">
                        <div class="h6 text-muted">Following</div>
                        {% for follower in following_results%}
                          <div class="h6"><a href="/u/{{ follower }}">{{ follower }}</a></div>
                        {% endfor%}


                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 gedf-main">
            {% for post in results%}
            <div class="card gedf-card">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="mr-2">
                                <img class="rounded-circle" width="45" src="/static/uploads/{{ post.profile_pic }}.png" alt="">
                            </div>
                            <div class="ml-2">
                                <div class="h5 m-0"><a href="/u{{ post.username }}">{{ post.username }}</a></div>
                                <div class="h7 text-muted">{{ post.ts }}</div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="card-body">
                    <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> {{ post.time }} </div>
                    <img src="{{ post.picture }}" class="img-fluid">


                    <p class="card-text">
                        {{ post.body }}
                    </p>

                </div>

            </div>
            <br />

            {% endfor%}




        </div>

    </div>
</div>

{% endblock %}
